{% extends 'base.html' %}

{% block head %}
<title>Facts</title>
{% endblock %}

{% block body %}

<body>
  <main>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Random Fact</h1>
        <div id="fact"> If you wanted to watch every video on YouTube, you have to watch 55 crore hours worth of videos
          as of now. Minus what you have already watched.</div>
        <br>
        <button onclick="newQuote()" type="button" class="btn btn-warning btn-lg"> More</button>
        <script src="facts.js"></script>
      </div>
    </div>






    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-5" align="center">
      <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" align="center">
        <div class="my-3 py-3" align="center">
          <h2 class="display-1">&nbsp&nbspAbout Science&nbsp&nbsp&nbsp</h2>
          <br>
          <br>
          <div id="sf">The only bird that can fly backwards is a hummingbird.</div>
          <br>
          <br>
          <button onclick="newQuote1()" type="button" class="btn btn-warning btn-lg"> More</button>
          <script src="sciencefacts.js"></script>
        </div>
      </div>


      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-1">&nbsp&nbsp&nbsp&nbspAbout Food&nbsp&nbsp&nbsp</h2>
          <br>
          <br>
          <div id="ff">Fruit-flavored snacks shine because of car wax.</div>
          <br>
          <br>
          <button onclick="newQuote2()" type="button" class="btn btn-warning btn-lg"> More</button>
          <script src="foodfacts.js"></script>
        </div>
      </div>
    </div>



    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-5" align="center">
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" align="center">
        <div class="my-3 p-3">
          <h2 class="display-1">&nbsp&nbspAbout Dreams&nbsp&nbsp</h2>
          <br>
          <br>
          <div id="df"> You can’t read while dreaming, or tell the time.</div>
          <br>
          <br>
          <button onclick="newQuote3()" type="button" class="btn btn-warning btn-lg"> More</button>
          <script src="dreamfacts.js"></script>
        </div>
      </div>


      <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" align="center">
        <div class="my-3 py-3">
          <h2 class="display-1">&nbsp&nbsp&nbsp &nbspAbout Space&nbsp&nbsp&nbsp</h2>
          <br>
          <br>
          <div id="ef">Neutron stars can spin 600 times per second.</div>
          <br>
          <br>
          <button onclick="newQuote4()" type="button" class="btn btn-warning btn-lg"> More</button>
          <script src="spacefacts.js"></script>
        </div>
      </div>
    </div>



  </main>

  <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>




</body>
{% endblock %}