{% extends 'base.html' %}

{% block head %}
<title>Gracious Givers/Indirect Donations</title>
{% endblock %}

{% block body %}
<div class="container px-4 py-5" id="custom-cards">
    <!-- Black Cards-->
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('unsplash-photo-1.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <img src="Pics/Ev1.io.jpg" class="rounded corners">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Ev.io</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                        </li>
                    </ul>
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-primary" href="1.html" role="button">Play</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('unsplash-photo-2.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <img src="Pics/Switch sides.jpg" class="rounded corners">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Slither.io</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                        </li>
                    </ul>
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-primary" href="2.html" role="button">Play</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <img src="Pics/Crazy balls.jpg" class="rounded corners">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Wormate.io</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                        </li>
                    </ul>
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-primary" href="3.html" role="button">Play</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Black Cards-->
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('unsplash-photo-1.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <img src="Pics/Connect-the-zodiacs.jpg" class="rounded corners">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Hole.io</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                        </li>
                    </ul>
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-primary" href="4.html" role="button">Play</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('unsplash-photo-2.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <img src="Pics/Color Shape.jpg" class="rounded corners">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Diep.io</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                        </li>
                    </ul>
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-primary" href="5.html" role="button">Play</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <img src="Pics/Turtle rescue.jpg" class="rounded corners">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Zombs.io</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                        </li>
                    </ul>
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-primary" href="6.html" role="button">Play</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Black Cards-->
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('unsplash-photo-1.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <img src="Pics/Cut the rope.jpg" class="rounded corners">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Zumbar.io</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                        </li>
                    </ul>
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-primary" href="7.html" role="button">Play</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('unsplash-photo-2.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <img src="Pics/Word search.jpg" class="rounded corners">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Tilefall.io</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                        </li>
                    </ul>
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-primary" href="8.html" role="button">Play</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <img src="Pics/Ev1.io.jpg" class="rounded corners">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Flappybird.io</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                        </li>
                    </ul>
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-primary" href="9.html" role="button">Play</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}