{% extends 'base.html' %}

{% block head %}
<title>Riddles</title>
{% endblock %}

{% block body %}
<div class="container px-5 my-4" align="center">
  <div class="row mb-2" align="center">
      <div class="col-md-12" align="center">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <p class="card-text mb-auto"> : What 8 letter word can have a letter taken away and it still makes a word. Take another letter away and it still makes a word. Keep on doing that until you have one letter left. What is the word?</p>
              <p>
                  <br>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
      View Answer
    </button>
             </p>
  <div class="collapse" id="collapseExample1">
    <div class="card card-body">
   Answer:The word is starting! starting, staring, string, sting, sing, sin, in, I.  Cool,huh?
    </div>
  </div>
          </div>
        </div>
      </div>
  
    </div>
  </div> <!--riddle one-->
  <div class="container px-5 my-4" align="center">
  <div class="row mb-2" align="center">
      <div class="col-md-12" align="center">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <p class="card-text mb-auto">I have branches, but no fruit, trunk or leaves. What am I?
  </p>
              <p>
                  <br>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
      View Answer
    </button>
             </p>
  <div class="collapse" id="collapseExample2">
    <div class="card card-body">
          Answer: A Bank
    </div>
  </div>
          </div>
        </div>
      </div>
  
    </div>
  </div> <!--riddle two-->
  <div class="container px-5 my-4" align="center">
  <div class="row mb-2" align="center">
      <div class="col-md-12" align="center">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <p class="card-text mb-auto">: I’m tall when I’m young, and I’m short when I’m old. What am I?
       </p>
              <p>
                  <br>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
      View Answer
    </button>
             </p>
  <div class="collapse" id="collapseExample3">
    <div class="card card-body">
       Answer: A candle
    </div>
  </div>
          </div>
        </div>
      </div>
  
    </div>
  </div> <!--riddle three-->
  <div class="container px-5 my-4" align="center">
  <div class="row mb-2" align="center">
      <div class="col-md-12" align="center">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <p class="card-text mb-auto">: What month of the year has 28 days?
              </p>
              <p>
                  <br>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
      View Answer
    </button>
             </p>
  <div class="collapse" id="collapseExample4">
    <div class="card card-body">
  Answer: All of them
    </div>
  </div>
          </div>
        </div>
      </div>
  
    </div>
  </div> <!--riddle four-->
  <div class="container px-5 my-4" align="center">
  <div class="row mb-2" align="center">
      <div class="col-md-12" align="center">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <p class="card-text mb-auto">What is full of holes but still holds water?
            </p>
              <p>
                  <br>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
      View Answer
    </button>
             </p>
  <div class="collapse" id="collapseExample5">
    <div class="card card-body">
        Answer: A sponge
    </div>
  </div>
          </div>
        </div>
      </div>
  
    </div>
  </div> <!--riddle five-->
  <div class="container px-5 my-4" align="center">
  <div class="row mb-2" align="center">
      <div class="col-md-12" align="center">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <p class="card-text mb-auto">What question can you never answer yes to?
            </p>
              <p>
                  <br>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample6">
      View Answer
    </button>
             </p>
  <div class="collapse" id="collapseExample6">
    <div class="card card-body">
       Answer: Are you asleep yet?
    </div>
  </div>
          </div>
        </div>
      </div>
  
    </div>
  </div> <!--riddle six-->
      
      <div class="container px-5 my-4" align="center">
  <div class="row mb-2" align="center">
      <div class="col-md-12" align="center">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <p class="card-text mb-auto">What is always in front of you but can’t be seen?  </p>
              <p>
                  <br>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample7">
      View Answer
    </button>
             </p>
  <div class="collapse" id="collapseExample7">
    <div class="card card-body">
       Answer: The future
    </div>
  </div>
          </div>
        </div>
      </div>
  
    </div>
  </div> <!--riddle seven-->
      
      <div class="container px-5 my-4" align="center">
  <div class="row mb-2" align="center">
      <div class="col-md-12" align="center">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <p class="card-text mb-auto">There’s a one-story house in which everything is yellow. Yellow walls, yellow doors, yellow furniture. What color are the stairs?                  </p>
              <p>
                  <br>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample8" aria-expanded="false" aria-controls="collapseExample8">
      View Answer
    </button>
             </p>
  <div class="collapse" id="collapseExample8">
    <div class="card card-body">
       Answer: There aren’t any—it’s a one-story house
    </div>
  </div>
          </div>
        </div>
      </div>
  
    </div>
  </div> <!--riddle eight-->
      
      <div class="container px-5 my-4" align="center">
  <div class="row mb-2" align="center">
      <div class="col-md-12" align="center">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <p class="card-text mb-auto">What can you break, even if you never pick it up or touch it?
            </p>
              <p>
                  <br>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample9" aria-expanded="false" aria-controls="collapseExample9">
      View Answer
    </button>
             </p>
  <div class="collapse" id="collapseExample9">
    <div class="card card-body">
       Answer: A promise
    </div>
  </div>
          </div>
        </div>
      </div>
  
    </div>
  </div> <!--riddle nine-->
      
      
      <div class="container px-5 my-4" align="center">
  <div class="row mb-2" align="center">
      <div class="col-md-12" align="center">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <p class="card-text mb-auto">What goes up but never comes down? </p>
              <p>
                  <br>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample10" aria-expanded="false" aria-controls="collapseExample10">
      View Answer
    </button>
             </p>
  <div class="collapse" id="collapseExample10">
    <div class="card card-body">
      Answer: Your age
    </div>
  </div>
          </div>
        </div>
      </div>
  
    </div>
  </div> <!--riddle ten-->
      
      
      <div class="container px-5 my-4" align="center">
  <div class="row mb-2" align="center">
      <div class="col-md-12" align="center">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <p class="card-text mb-auto">A man who was outside in the rain without an umbrella or hat didn’t get a single hair on his head wet. Why?
            </p>
              <p>
                  <br>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample11" aria-expanded="false" aria-controls="collapseExample11">
      View Answer
    </button>
             </p>
  <div class="collapse" id="collapseExample11">
    <div class="card card-body">
     Answer: He was bald.
    </div>
  </div>
          </div>
        </div>
      </div>
  
    </div>
  </div> <!--riddle eleven-->
      
      
      <div class="container px-5 my-4" align="center">
  <div class="row mb-2" align="center">
      <div class="col-md-12" align="center">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <p class="card-text mb-auto">What can’t talk but will reply when spoken to?</p>
              <p>
                  <br>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample12" aria-expanded="false" aria-controls="collapseExample12">
      View Answer
    </button>
             </p>
  <div class="collapse" id="collapseExample12">
    <div class="card card-body">
       Answer: An echo
    </div>
  </div>
          </div>
        </div>
      </div>
  
    </div>
  </div> <!--riddle twelve-->
  
  </div>
{% endblock %}



